<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.LineGap.CollectHangul</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CollectHangul</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/nanife/CollectHangul_Glyphs/master/CollectHangul.glyphsPlugin/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://www.linegap.com/portfolio-items/collect-hangul-in-glyphs</string>
	<key>productReleaseNotes</key>
	<string>First released on 201800402, v2.0 in 20210217</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, DaekwonKim(LineGap.com), 2016-2021</string>
	<key>NSPrincipalClass</key>
	<string>CollectHangul</string>
</dict>
</plist>
